{sub_dirs,  ["apps/*", "rel"]}.
{erl_opts, [{parse_transform, lager_transform}, debug_info, {i, ".."}]}.

{deps, [
	{lager, ".*", 
		{git, "https://github.com/basho/lager.git", master}},
	{gun, ".*",
        {git, "https://github.com/ninenines/gun.git", master}},
    {shotgun, ".*",
        {git, "https://github.com/altenwald/shotgun.git", master}}
]}.


