{sub_dirs,  ["apps/*", "rel"]}.
{erl_opts, [{parse_transform, lager_transform}, debug_info, {i, ".."}]}.

{deps, [
    {lager, ".*",
        {git, "https://github.com/basho/lager.git", master}},
    {cowlib, ".*",
        {git,"git://github.com/ninenines/cowlib.git","1.0.2"}},
    {cowboy, ".*",
        {git, "https://github.com/ninenines/cowboy.git", "1.0.2"}},
    {gun, ".*",
        {git, "https://github.com/ninenines/gun.git", master}},
    {shotgun, ".*",
        {git, "https://github.com/inaka/shotgun.git", master}}
]}.
